/* Personnalisation des classes basées sur les variables */
/* couleur de fond */
.bg-primary { background-color: var(--bs-primary) !important; }
.bg-secondary { background-color: var(--bs-secondary) !important; }
.bg-neutral { background-color: var(--bs-neutral) !important; }
.bg-dark { background-color: var(--bs-dark) !important; }
/* couleur texte */
.text-primary { color: var(--bs-primary) !important; }
.text-secondary { color: var(--bs-secondary) !important; }
.text-neutral-300 { color: var(--bs-neutral-300) !important; }
body{
    background-color: #06080F ;  
    color: #fff;
    font-family: "Bricolage Grotesque", sans-serif;
}

i{
  color: #fff;
}
.rounded{
  border-radius: 30px!important;
}
div,.container{
   box-sizing: border-box;
}

a{
  text-decoration: none;
}
a:hover{
  color:white;
}