input{
    font-size: 14px;
    font-weight: 400;
    color:var(--bs-neutral-400);
    width:303px;
    border-radius: 16px!important;
    padding:12px 16px!important;
    filter: drop-shadow(0px 10px 30px rgba(255, 255, 255, 0.07));
    border: 1px white;
}
input:hover,input:focus{
    border-color: var(--bs-primary);
    filter: drop-shadow(0px 10px 30px rgba(255, 255, 255, 0.15));
        color:var(--bs-neutral-600);
}
input:focus{
    border-width: 2px;
}
input:not{
    filter: drop-shadow(0px 10px 30px rgba(255, 255, 255, 0.15));    
}
input:valid{

}
input:invalid{

}
input:disabled{

}
label{
    font-size: 12px;
    font-weight: 500;
}

