
@import url('variables.css');
@import url('base.css');
@import url('typography.css');
@import url('buttons.css');
@import url('forms.css');

/* ----------- style section par section */
/* Vector 1 */
#fondDegrade{
    position: absolute;
    background:linear-gradient(to right,#00BBF9,#F23D2E);
    width: 100%;
    height: 473px;
    top: 72.34px;
    filter: blur(180px);
    border-radius: 4.88035px;
    transform: rotate(142.24deg);
    opacity:0.33;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 2;
}

/* paramètres navbar */
/* .nav-item{
  z-index:2;
} */
.navbar{
  position:sticky!important;
  top:0;
  z-index:50;
}

@media (max-width: 768px) {
  #introduction{
    margin-top: 44px;
  }
}
@media (min-width: 768px) {
  #menu{
  flex: 0 0 1312px; 
  max-width: 1312px;
}
  #introduction{
    margin-bottom: 64px;
    margin-top: 162px;
  }
  nav{
    padding: 8px 64px;
  }
}
/* image animée */
.img-container{
    width: 100%; /* Le conteneur prend 100% de la largeur de son parent */
    height: 601px; /* Ou une hauteur fixe pour l'image */
    overflow: hidden; /* Très important : masque ce qui dépasse */
    position: relative; 
}

#animated-image{
    /* L'image doit être plus large que son conteneur pour pouvoir bouger */
    width: 150%; /* Exemple : l'image est 1.5 fois plus large que le conteneur */
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    object-fit: cover; /* Recadre l'image pour couvrir l'espace sans la déformer */
    /* Positionnement pour l'animation */
    position: absolute;
      top: 0;
    left: 0;
    animation: slideHorizontal 30s ease-in-out infinite alternate;
    
    /* Optimisations pour la fluidité */
    will-change: transform; /* Prépare le navigateur pour l'animation */
    backface-visibility: hidden; /* Évite les scintillements */
}
/* Définition des étapes de l'animation */
@keyframes slideHorizontal {
     0% {
        transform: translateX(0); /* Position de départ */
    }
    100% {
        transform: translateX(-30%); /* Déplace de 33.33% vers la gauche */
        /* Calcul : si l'image fait 150% et le conteneur 100%, 
           pour voir la partie droite, on doit déplacer de (150-100)/150 = 33.33% */
    }
  }

#bandeau{
  font-family: "Rubik",sans-serif;
  font-size: 88.43px;
  font-weight: 800;
}

/* margin sections */
@media (max-width: 768px) {
  #aPropos, 
  #equipe{
    margin-top: 32px;
    margin-bottom: 32px;
  }
  #defi{
    margin-top: 32px;
    margin-bottom: 48px;
  }
  #rdzvous{
    margin-bottom: 32px;
  }
    #footer{
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) {
  #aPropos{
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #defi{
     margin-top: 112px;
     margin-bottom: 112px;
  }
   #rdzvous{
    margin-bottom: 112px;
  }
  #footer{
     padding-top: 112px;
     padding-bottom: 112px;
  }
}

/*------------- A propos */

#surlign{
  position: absolute;
  height: 6.99px;
   top: 100%; /* Ajuste la position verticale pour le surlignage */
    left: 0;
    width: 100%;
transform: translateY(-50%);
  transform: rotate(-1.78deg);

/* Inside auto layout */
/* flex: none;
order: 2;
flex-grow: 0;
z-index: 2; */

}
#surlign svg {
    width: 100%;  /* Le SVG prend 100% de la largeur de sa div parente (#surlign) */
    height: 100%; /* Le SVG prend 100% de la hauteur de sa div parente (#surlign) */
    display: block; /* Supprime les petits espaces blancs en bas de l'SVG */
}
/* icones decoration pour grands ecrans */
#line1{
  position: absolute;
  width: 9.68px;
  height: 0px;
  right:33px;
  bottom: 296px;
  background: #E8F1FE;
  border-radius: 16px;
  /* Colors/neutral/0 */
  border: 2.42818px solid #FFFFFF;
  transform: matrix(-0.07, 1, 1, 0.07, 0, 0);
}

#line2{
position: absolute;
width: 15.87px;
height: 0.47px;
right:0px;
bottom: 290px;
background: #E8F1FE;
/* Colors/neutral/0 */
border: 2.42818px solid #FFFFFF;
transform: matrix(-0.76, 0.65, 0.64, 0.77, 0, 0);
border-radius: 16px;
}
#starWithLines{
  position:absolute;
  right:0px;
  bottom:260px;
}

#ticketsE{
  position:absolute;
  left:20px;
  bottom:0px;
  z-index: 2;
}

/* cartes */

#carteDefis{
  max-width: 417px;
  max-height:283px;
  backdrop-filter: blur(9.1px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
}

#carteFilms{
  max-width: 384px;
  max-height:283px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  #aProposRight{
    min-height: 527px;
    max-width: 621px;
  }
  #carteDefis,#carteFilms{
    height:283px;
  }
  #carteFilms{
    position:absolute;
    bottom:244px;
    left:0px;
  }
  #carteDefis{
    position:absolute;
    bottom:0px;
    left:177px;
    z-index:1;
  }
}

/* ---------Infos essentielles */

#clapInfos{
  position:absolute;
  top:25.7px;
  left:10.72px;
  z-index:1;
    transition: transform 0.3s ease-out;
    /* Optionnel: Point d'origine de la transformation si vous utilisez des rotations ou échelles */
  transform-origin: center center;
}
#cadreGrosClap:hover{
  #clapInfos{
    transform: translate(4px, -4px)rotate(-5deg);
  }
}
@media (min-width: 768px) {
  #btnEnvoiFilm2{
      position:absolute;
      right:48px;
      top:48px;
    }
}

@media (min-width: 1200px) {
  #defisLeft{
    flex: 0 0 768px; max-width: 768px;
  }
  #defisRight{
    flex: 0 0 424px; max-width: 424px;
  }
  #films{
    padding:114px 64px;
  }
  #equipe{
    padding: 80px 64px;
  }
}

#popCorn{
  position:absolute;
  right:0px; 
  top:16px;
  transition: transform 0.8s ease-out;
    /* Optionnel: Point d'origine de la transformation si vous utilisez des rotations ou échelles */
  transform-origin: center center;
}
#cadrePopcorn:hover{
  #popCorn{
  transform: translate(8px, -8px)rotate(5deg);
  }
}

@media (max-width: 768px) {
  #imgProjection{
    height:250px;
  }
}

#soireeLeft{
  max-width: 754px;
  max-height:596px;
}
.tagFilm{
  left:16px;
  top:16px;
  border-radius: 16px;
  padding:10px;
}

/* equipe */
.tagEquipe{
  left:16px;
  bottom: 18px;
  border-radius: 16px;
  padding:10px;
  width:260px;
  text-align: center;
}
.team{
  width: 292px;
  height: 320px;
}

#equipe .carousel-item{
  margin: 0 auto;
  float:none!important;
}
.audrey img{
mix-blend-mode: luminosity;
}

.jonathanCitation,
.audreyCitation,
.simonCitation,
.maxCitation {
  position:absolute;
  width:260px;
  height:60px;
  top:40%;
  left: 16px;
  z-index: 10;
  display: none; 

}

.jonathan:hover img, 
.audrey:hover img,
.simon:hover img,
.max:hover img {
    filter: blur(7px);
    transition: filter 0.3s ease;
}

.jonathan:hover .jonathanTag,
.audrey:hover .audreyTag,
.simon:hover .simonTag,
.max:hover .maxTag {
    display: none;
}

.image-wrapper.jonathan:hover .jonathanCitation,
.image-wrapper.audrey:hover .audreyCitation,
.image-wrapper.simon:hover .simonCitation,
.image-wrapper.max:hover .maxCitation {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    color:white;
}


/* footer */
#ellipseFooter{
  position: absolute;
  width: 821px;
  height: 452.32px;
  left: -297.26px;
  top: 175.5px;
  background: rgba(0, 187, 249, 0.2);
  mix-blend-mode: lighten;
  filter: blur(176.433px);
  transform: rotate(-40.66deg);
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}
#footer{
  overflow-y: hidden;
}