/* paramètres du texte */

::selection {
  background-color: #ffffff; /* Remplacez par la couleur de votre choix */
  color: var(--bs-dark);
}

/* Pour Firefox, car il utilise un préfixe différent */
::-moz-selection {
  background-color: #ffffff; /* Remplacez par la couleur de votre choix */
  color: var(--bs-dark);
}
h1,h2,h3,h4{
  font-family: "Bricolage Grotesque", sans-serif;
}
#bandeau{
  font-family: "Rubik",sans-serif;
  font-weight: 600;
  line-height: 112.99%;
}
@media (max-width:768px) {
  h1{
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
}
/*h2-> sur figma Larde Semi Bold */
h2{
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}
#bandeau{
  font-size: 33.60px;
  font-weight: 600;
}
}
@media (min-width:768px) {
  h1{
  font-size: 46px;
  font-weight: 800;
  line-height: 55px;
}
/*h2-> sur figma Larde Semi Bold */
h2{
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
}
#bandeau{
  font-size: 88.43px;
}
}
/* titles */
.text-SBlod{
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color:#fff;
}
.text-xs{
  font-size: 18px;
  font-weight: 600;
}
.text-xxsMedium{
  font-size: 16px;
  font-weight: 500;
}
p{
  color:#818182;
  font-family: "Figtree",Helvetica;
  font-size: 18px;
  font-weight: 400;
}
.fs-1 {
  font-size: 48px !important;
}
@media (min-width: 768px) {
  .fs-1 {
  font-size: 98px !important;
}
}